services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
        NEXT_PUBLIC_IS_DOCKERIZED: ${NEXT_PUBLIC_IS_DOCKERIZED}
        CLERK_SECRET_KEY: ${CLERK_SECRET_KEY}
        BACKEND_URL: ${BACKEND_URL}
    container_name: healthcare_app
    platform: linux/amd64
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env
    restart: unless-stopped
