services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
        NEXT_PUBLIC_IS_DOCKERIZED: ${NEXT_PUBLIC_IS_DOCKERIZED}
        CLERK_SECRET_KEY: ${CLERK_SECRET_KEY}
        BACKEND_URL: ${BACKEND_URL}
    container_name: healthcare_app
    platform: linux/amd64
    command: sh -c "uvicorn api.index:app --host 0.0.0.0 --port 8000 & npm start" 
    ports:
      - "3000:3000" 
      - "8000:8000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.next   
    env_file:
      - .env
    restart: always
